.quiz {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 2rem;
    text-align: center;
}

.innerspacer {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 2rem;
    text-align: center;
}